label{

    font-size: 20px; 
    display: block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 10px;
    margin-top: 10px;
}


input{


    width: 250px;
    padding: 10px 20px;
    font-family: cursive;
    border-radius: 10px;
}

button{
  
    background-color: violet;
    width: 150px;
    padding: 10px;
    margin-top: 15px;
    border: none;
    font-size: 20px;
    border-radius: 20px;
}

div{

  margin: 20px auto;  
}